body{
	align-content: center;
}
.p
{
	padding: 20%;
}


.vertical{
  margin: 0;
  position: relative;
  top: 25%;
  bottom: 0%;
  margin-left: 25%;
  margin-right: 25%;
}
h1{
	font-family: 'Righteous';
	size: 3rem;
	line-height: 1.5;
	color: #ffffff;
	text-align: center;
	background-color: grey;

}